*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
	height: 100%;
}


/*section 1: what do we offer start*/
.header-factsheet{
    width:100%;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  
  
  .card-body{
    padding: 30px 0px!important;
    margin-top: 20px;
    border-radius: 2rem ;
  }

  .para{
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #14365A;
  }


  .card-body:hover{
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-10px);
    cursor: pointer!important;
  }

  @media(max-width:479px){
    .card-body img{
      height: 100px!important;
      width: 65px!important;
    }
    .card-body{
      padding-top: 20px!important;
    }
  }

  @media(max-width:768px){
    .card-body img{
      height: 100px!important;
    }
  }
  /* section 1 end*/

  /*section 2 whty us ?start*/

  .header-factsheet1{
    width:100%;
    height: auto;
    padding-top: 20px!important;
    margin-top: 20px!important;
    text-align: center;
    margin-bottom: 20px!important;
  }

  .card img{
    width: 60px!important;
    margin: auto;
    text-align: center!important;
  }

  .rotate-link{
    text-align: center!important;
   padding: 30px 0px!important; 
    margin-top: 20px;
     border-radius: 60%; 
     width: 130px;
    height: 130px;  
    background-color: #EFFDFE;
    -webkit-box-shadow: 0 10px 6px -4px #777;
    -moz-box-shadow: 0 10px 6px -4px #777;
         box-shadow: 0 10px 6px -4px rgb(192, 190, 190);
  }
  
  .rotate-link:hover{
    -webkit-transition: 0.5s ease-out;
    -webkit-transform: rotate(360deg);
    -webkit-transform: translateY(-10deg);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }
  .para1{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #14374A;
    text-align: center;
  }

  @media(max-width:479px){
    .rotate-link{
      align-items: center!important;
      justify-content: center!important;
    }
  }

  @media(max-width:768px){
    .rotate-link{
      align-items: center!important;
      justify-content: center!important;
    }
  }
  
/*section-2 end */

   /*book the repair section start*/
   .adv{
    background-image: url(assets/img/backpic.jpeg) !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 650px;
    background-size: cover;
    position: relative;
    background-color: transparent !important;
   }
  
   .cardadv{
     width:400px;
     padding: 20px;
     border: 1px solid #d2d2dc;
     background-color:#78b7bb;
     border-radius: 2rem;
     position: absolute;
     left: 50%;
     top:50%;
     transform: translate(-50%, -50%);
     text-align: center;
   }
   .mt{
       margin-top: 25px!important;
       border-radius: 1rem!important;
       text-transform: capitalize;
       font-size: 15px;
       padding: 10px!important;
       background-color: #FBFBFB!important;
       border: 2px solid white!important;
       color: black!important;
   }
   .btn {
       border-radius: 1rem!important;
       text-transform: capitalize;
       font-size: 15px;
       padding: 10px!important;
       background-color: #78b7bb!important;
       border: 2px solid white!important;
       color: white!important;
   }

   @media(max-width:479px){
     .cardadv img{
       height: 140px!important;
       width: 100px!important;
     }
     .cardadv{
         width:320px;
         
     }
     .mt{
       margin-top: 8px!important;
     }
   }

   @media(max-width:768px){
    .cardadv img{
      height: 140px!important;
      width: 100px!important;
    }

    .mt{
      margin-top: 8px!important;
    }
   }
   
   /*book the repair section end */

  
   /*how we work section start*/

.progress1 li{
    background-color: #78b7bb;
    float: left;
    width: 33.33%;
    position: relative;
  }

  .progress1 img{
    width: 110px;
    margin: 80px auto;
    margin-bottom: 40px;
  }
  
/*  ul{
    text-align: center;
  }*/
/*
   ul,li{
    display: inline;
    position: relative;
  }*/

  .shape1{
     border-radius: 1rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 3px; 
  }
  @media(max-width:1299px){
      .progress1 li::after{
          background-color:transparent !important;
      }
      .mobile{
        height: 115px !important;
      }

      .mobile1{
        height: 50px !important;
      }
  }
  @media(max-width:479px){
      .progress1 img{
        height: 70px!important;
        width:70px!important;
        margin-top: 5px!important;
      }

      .progress1 li::after{
        content: '';
        background-color:transparent !important;
        height:-15px!important;
         width:35px!important;
         left:-25%!important;  
         top:32px!important; 
         
          display: none!important;
        right:-50px!important;
       top:66px!important;

     

     right:50%!important;
     width:35px!important;
     top:100px!important;
      }


      li img .shape1{
        width: 90px!important;
        height: 100px!important;
      }
      .mobile{
        font-size: 10px!important;
        height: 115px !important;
      }

      .mobile1{
        font-size: 15px!important;
        height: 50px !important;
      }

      .progress1 li:last-child:after{
      content: none;
    } 

    .progress1 l1:first-child::after{
      content: none;
    }
  }


  .shape2{
    padding: 12px 12px 12px 12px;
    border-radius: 50%;
    
    animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .shape3{
    border-radius: 1rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 8px;
    padding-bottom: 10px;

  }

   @keyframes shape3{
  
    100%{
      transform:translateX(-3px);
    }
    50%{
      transform:translateX(5px);
    }
    0%{
      transform: translateX(-3px);
    }
  } 
  .progress1 li::after{
    content: '';
    background-color:white;
    height: 10px!important;
    width:302px!important;
    display: block!important;
    position:absolute!important;
     left: -34%; 
     top:140px;
     

  } 

  .progress1 li:first-child:after{
    content: none;
  }

  .heading{
    color:white; 
    background-color:#78b7bb; 
    text-align: center; 
    font-size: 55px; 
    padding-top: 20px;
    font-size: 3rem;
  }

  /* how we work section end*/

  .fadedproducts{
      opacity: 0.6 !important;
  }
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 150px;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 60px;
    background-color: rgba(230,230,230,0.4);
    padding-top: 40px;
    text-transform: uppercase;
    color: rgba(230,0,0,0.7);
  }
 