
.bg-common{
    background-color: #15474A;
}

.aa{
    text-align: center;
    transition: all .2s;
    color: #e2ecee !important;
    font-size: 20px;
}

.aaa{
  text-align: center;
  background-color: #15474A!important;
  font-size: 13px;
  color: white!important;
}

.aa:hover{
     color: #fff!important; 
}
 .ak:hover{
  background-color:   #94D5D9!important;
  border-radius: 2rem!important;
} 

.sty{
  color:  #15474A;
  font-size: 17px;
}
.card-left
{
    border: 0.02rem solid#7eb3bd;
    border-radius: 2rem;
}

@media(max-width:479px){
  .card-left{
    display: none!important;
  }
}

a {
  color: #7eb3bd;
}

a:hover {
  color: white;
  text-decoration: none;
} 

#contatti1{
    background-color: #94D5D9;
    border-radius:3rem!important;
   
    }
  #contatti1 a{
    color: #fff;
    text-decoration: none;
  }
  
   #contatti1{
      padding-bottom: 90px;
  }

  #contatti2{
    background-color: #94D5D9;
    border-radius:3rem!important;
   
    }
  #contatti2 a{
    color: #fff;
    text-decoration: none;
  }
  
   #contatti2{
      padding-bottom: 90px;
  }

  textarea{
    border-radius:1rem!important;
  }

  .par{
    padding-top: 20px!important;
    color: #15474A!important;
    font-size: 20px;
  } 
  
  .contact-map
  {
    width: 100%;
    height: auto;
    flex: 50%;
  }
  .contact-map iframe
  {
    width: 100%;
    height: 400px;
  }
  
  .btn {
    border-radius: 1rem!important;
    font-size: 25px!important;
    padding: 10px 20px 10px 20px!important;
    border: 2px solid #15474A!important;
    color: #15474A!important;
    box-shadow: 0 6px 6px 4px rgb(192, 190, 190);
}



  /*-------------footer------------*/
#footer {
  margin-top: 20px;
  background: #15474a;
  padding: 0 0 15px 0;
  color: #15474a;
  font-size: 14px;
}

#footer .footer-top {
  background: #609ea2;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 3px;
  color: #15474a;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Timeless", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #3c4133;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #7eb3bd;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  width: 70%;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #3c4133;
}

#footer .footer-top h4::after {
  background: #7eb3bd;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
  
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 0 0 15px 0;
}

#footer .footer-top .footer-links ul a {
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}

#footer .footer-top .footer-links ul a:hover {
  color: #333;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
  font-weight: 600;
  color: #333;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 50px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  border-radius: 4px 0 0 4px;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #7eb3bd;
  border: 0;
  border-radius: 0 4px 4px 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #789d35;
}
.footer-newsletter img{
    width: 280px;
}
#footer .copyright {
  text-align: center;
  color: #fff;
  padding-top: 15px;
}
#footer .copyright a{
    color: #fff;
}
#footer .copyright a:hover{
    color: #7eb3bd;
}

@media screen and (max-width: 479px) {
  .footer-links {
   margin-top: 20px!important;
  }
  }

/*------------------*/
  
  
  